<footer class="pb-3" style="background-color: var(--main-red)">
    <div class="waves container-fluid m-0 p-0" style="background-color: white">
        <img class="w-100 m-0" src='{{ "/static/img/wavesfooter.svg" | prepend: site.baseurl }}'>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 d-flex justify-content-start">
            <img src='{{"/static/img/leslogovector.svg" | prepend: site.baseurl }}' height="40" style="filter: brightness(0) invert(1)">
        </div>
        <div class="col-12 col-md-6 text-white fs-4 d-flex align-items-end justify-content-end">
          <a href="#"><i class="bi bi-instagram me-3"></i></a>
          <a href="#"><i class="bi bi-telephone"></i></a>
        </div>
        <div class="col-12 col-md-6 text-white d-flex align-items-end justify-content-start">
          <p class="col-12 col-md-6 text-white ps-2 m-0 text-end text-md-start">©LES Ingeniería 2023</p>
        </div>
        <div class="row col-12 col-md-6 pe-0 d-flex justify-content-end align-items-end m-0">
          <div class="col-md-6 text-end">
            <a class="col-12 col-md-4 text-center pe-3 border border-top-0 border-start-0 border-bottom-0" href="/politicaprivacidad">Política de cookies</a>
            <a class="col-12 col-md-4 text-center ps-3" href="#">Aviso legal</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  {% include cookies.html %}