<div class="w-100 mt-5 position-relative overflow-hidden" style="min-height: 60vh; height:60vh">
    <div class="container position-absolute top-50 start-50 translate-middle text-center" style="z-index:2">
        <p style="color:white;">Nos apasionan los nuevos retos</p>
        <h2 class="plx" style="z-index: 100; color:white;" data-parallax-speed="0.4" onclick="location.href = '/contacto'">Cuentanos tu idea</h2>
    </div>
    <div class="position-absolute bottom-0 start-0 w-100" style="height: 100%; z-index: 1; background: linear-gradient(to bottom, rgba(200,0,0,0.6), rgba(0,0,0,0.6))"></div>
    <div class="position-absolute bottom-0 start-0 w-100" style="height: 100%; z-index: 0; background-image: url({{'/static/img/idea.jpg' | prepend: site.baseurl }}); background-size: contain ;background-position: center; background-repeat: no-repeat; background-color: black" alt="idea img">
</div>