:root{
    --main-red: rgb(200,0,0);
    --main-green: rgb(0,200,0);
    --main-blue: rgb(0,0,200);
    --complementary: rgb(0,200,200);
    --black: #0e1111;
    --blue-comp: #3f3d56;

}

html{
    background: white;
    -webkit-font-smoothing: antialiased;
}

body{
    background: white;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

img{
  user-select: none;
  pointer-events: none;
}

section{
 padding: 100px 0;
}
section:nth-child(even){
  background-color: rgb(245,245,245);
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: var(--complementary);
}

.nav-link:hover, .navbar-nav .nav-link.active{
    color: var(--main-red);
}

.nav-link{
  position: relative;
}

.nav-link::before{
  content:"";
  position: absolute;
  bottom: 0;
  left:0;
  width:100%;
  height:2px;
  background-color: var(--main-red);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:hover::before, .nav-link.active::before{
  transform: scaleX(1);
}

a:focus{
    color:white;
}

.text-lgreen{
    color: lightgreen;
}

.text-red{
    color:var(--main-red);
}

.text-green{
    color:var(--main-green);
}

.text-blue{
    color: var(--main-blue);
}

.breadcrumb{
  font-family: 'Open Sans', sans-serif;
}

.breadcrumb-item a{
  color: var(--blue-comp);
}

.breadcrumb-item:hover a{
  color: var(--main-red);
}
.sectiontitle{
  font-size: 8rem;
}

.titlenav{
  font-size: 7rem;
}

.strokeletter{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: currentColor;
  font-size: 8rem;
}

.strokeletter.fill{
  -webkit-text-fill-color: currentColor;
}

.plx{
    font-size: 4rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    cursor: pointer;
}

.plx:hover{
  -webkit-text-fill-color: currentColor;
}

.buttonto{
  cursor: pointer;
}
.buttonto:hover{
  color: var(--main-red);
}

.strokeletter span{

  -webkit-text-fill-color: currentColor;
  -webkit-text-stroke-width: none;
  -webkit-text-stroke-color: none;
}

h1, h2, .btn, .navbar{
    font-family: "Roboto", sans-serif;
}

p{
    font-family: "Open Sans", sans-serif;
}

.parraph{
  font-weight: 400;
  line-height: 40px;
  color: gray;
  max-width: 650px;
}

.desc{
    color: rgb(100,100,100);
    font-weight: 300;
}

.grayscale{
    filter: grayscale(1) brightness(1.05);
}

.slick-initialized .slick-slide{
    display:flex;
    box-shadow: none;
    filter: grayscale(1);
    padding: 0;
}

section{
    padding-top: 80px;
}

.slide{
    overflow: hidden;
    padding: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    max-height: 20vh;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 6px 10px darkgray;
}
.slide img{
    width: 75%;
    height: auto;
}

.btn-red-outline{
    background: transparent;
    color: var(--main-red);
    border-width: 2px;
    border-color: var(--main-red);
    padding: 5px 30px;
    font-size: 0.8rem;
}

.btn-red-outline:hover{
    background: var(--main-red);
    color: white;
}

.btn-red{
    background: var(--main-red);
    color: white;
    border-width: 2px;
    border-color: var(--main-red);
    padding: 5px 30px;
    border-radius: 0px;
    filter: brightness(1);
    transition: all 0.1s linear;
}

.btn-red:hover, .btn-red:active, .btn-red:focus{
    background: rgb(160, 0, 0);
    color: white;
    border-width: 2px;
    border-color: rgb(160, 0, 0);
    padding: 5px 30px;
    border-radius: 0px;
}

.bright:hover{
    box-shadow: -2px -2px 10px snow, 2px 2px 10px snow, -2px 2px 10px snow, 2px -2px 10px snow;
    animation: parpadeoboton 1s linear infinite;
    border-color: #BBB;
    background-color: z(187.066, 0, 0, 1);
}


.word::after{
    content: "";
    display: inline-block;
    width: 3px;
    margin-left: 5px;
    background-color: black;
    height: 0.8em;
    animation:parpadeo 0.5s linear infinite;
}

.title{
  color: var(--black);
}

.title::after{
    content:"";
    display:block;
    width: 100px;
    background: var(--complementary);
    height: 0.1em;
    margin-top: 15px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.waves img{
  object-fit: fill;
}
/***************************************************
 * Generated by SVG Artista on 5/18/2023, 9:36:23 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 @keyframes animate-svg-stroke-1 {
    0% {
      stroke-dashoffset: 6034.373046875px;
      stroke-dasharray: 6034.373046875px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 6034.373046875px;
    }
  }
  
  @keyframes animate-svg-fill-1 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(40, 40, 40);
    }
  }
  
  .svg-elem-1 {
    animation: animate-svg-stroke-1 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
                 animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
  }
  
  @keyframes animate-svg-stroke-2 {
    0% {
      stroke-dashoffset: 325.5566486318094px;
      stroke-dasharray: 325.5566486318094px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 325.5566486318094px;
    }
  }
  
  @keyframes animate-svg-fill-2 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(200, 0, 0);
    }
  }
  
  .svg-elem-2 {
    animation: animate-svg-stroke-2 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
                 animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s both;
  }
  
  @keyframes animate-svg-stroke-3 {
    0% {
      stroke-dashoffset: 325.5566486318094px;
      stroke-dasharray: 325.5566486318094px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 325.5566486318094px;
    }
  }
  
  @keyframes animate-svg-fill-3 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(0, 200, 0);
    }
  }
  
  .svg-elem-3 {
    animation: animate-svg-stroke-3 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
                 animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s both;
  }
  
  @keyframes animate-svg-stroke-4 {
    0% {
      stroke-dashoffset: 325.5566486318094px;
      stroke-dasharray: 325.5566486318094px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 325.5566486318094px;
    }
  }
  
  @keyframes animate-svg-fill-4 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(0, 0, 200);
    }
  }
  
  .svg-elem-4 {
    animation: animate-svg-stroke-4 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both,
                 animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s both;
  }

  .textup{
    animation: rotate-text-up 1.5s ease-in forwards;
  }

  
  .textleft{
    animation: textLeft 1s ease-in forwards;
  }

  .fadein{
    animation: fade-in 2s ease-in forwards;
    animation-delay: 2s;
  }

  .slide-left{
    animation: slideInLeft 1s ease-in forwards;

  }
  .slide-right{
    animation: slideInRight 1s ease-in forwards;
  }

  .slide-top{
    animation: slideInTop 1s ease-in forwards;
  }

  .slide-bottom{
    animation: slideInBottom 1s ease-in forwards;
  }

  .fade-in{
    animation: fade-in 1s ease-in forwards;
  }

  .slide-left-top{
    animation: slideInLeftTop 1s ease-in forwards;
  }

@keyframes parpadeo{
    0%{
        opacity: 0
    }
    50%{
        opacity: 1
    }
}
@-webkit-keyframes parpadeo{
    0%{
        opacity: 0
    }
    50%{
        opacity: 1
    }
}

@keyframes rotate-text-up { 
  0% {
    transform: translate3d(0, 80px, 0);
    opacity: 0;
  }
  
  40% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in { 
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes textLeft {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeftTop {
  0% {
    opacity: 0;
    transform: translate(-15%, -15%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(-15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(15%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInBottom {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes serviceAnimation {
  0%{
    opacity:0;
    transform: translate3d(0, -50px, 0);
  }
  60%{
    opacity:1;
  }
  100%{
    transform: translate3d(0,0,0);
    opacity:1;
    transform: rotateZ(30deg);
  }
}

@keyframes shadowIn{
  0%{
    transform: scaleX(0%);

  }
  100%{
    transform: scaleX(100%);
  }
}

@keyframes bouncing {
  0%{
    opacity:1;
    transform: translateY(0px) rotateZ(30deg);
  }
  50%{
    opacity:1;
    transform: translateY(10px) rotateZ(0.1turn);
  }
  100%{
    opacity:1;
    transform: translateY(0px) rotateZ(30deg);
  }
}

.serviceanimated{
  width:40px;
  height:40px;
  animation-name: serviceAnimation, bouncing;
  animation-duration: 3s, 2s;
  opacity:0;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-delay: 0.5s, 3.5s;
  position: relative;
}

.shadowel{
  width:45px; 
  background: radial-gradient(rgba(0, 0, 0, 0.2), transparent 80%); 
  height: 10px; 
  border-radius: 50%; 
  position:absolute; 
  bottom:0;
  transform: scaleX(0%);
  animation: shadowIn 3s ease-out forwards;
  animation-delay: 0.5s;
}

.delay-1{
  animation-delay: 1s;
}

.delay-15{
  animation-delay: 1.5s;
}

.delay-2{
  animation-delay: 2s;
}


.floatingcard {
  width: auto;
  height: 100%;
  /*border-radius: 1em;*/
  padding: 1.5rem;
  background: #f5f5f5;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  /*box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);*/
  border: solid 2px darkgray;
  cursor:pointer;
 }
 
 .floatingcard:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 2;
  transition: 0.5s;
 }
 
 .floatingcard-info {
  position: relative;
  z-index: 3;
  color: #f5f5f5;
  opacity: 0;
  transform: translateY(20%);
  transition: 0.5s;
  width:100%;
 }

 .floatingcard-info img{
  filter: brightness(0) invert();
 }
 
 /*Text*/
 .fc-title{
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  position:relative;
  padding-bottom: 10px;
  display: flex;
  align-items: baseline;
  margin-bottom: 0px;
  padding-bottom: 0px;
 }


 .fc-title:after{
  display: flex;
  content: "";
  height: 6px;
  width: 6px;
  margin-left: 2px;
  border-radius: 5px;
  background-color: var(--main-red);
 }

 .text-title {
  font-size: 2rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: #f5f5f5;
 }
 
 .fc-text-body { 
  color: #f5f5f5;
  letter-spacing: 1px;
  font-size: 0.9rem;
  margin: 5px 0 15px 0;
  font-family: 'Open Sans', sans-serif;
 }
 
 /*Button*/
 .floatingcard-button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 4px;
  background: transparent;
  color: white;
  font-weight: bold;
  transition: 0.4s ease;
 }
 
 /*Image*/
 .floatingcard-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  transition: all 0.4s ease-out;
 }

 .floatingcard:hover .floatingcard-img{
  background: var(--main-red);
 }

 .floatingcard:hover .imgcontent{
  filter: brightness(0) blur(100px);
 }

 .floatingcard-img .imgcontent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    transition: all 0.4s ease;
 }
 
 .floatingcard:hover:before {
  opacity: 1;
 }
 
 .floatingcard:hover .floatingcard-info {
  opacity: 1;
  transform: translateY(0);
 }
 
 @media (max-width: 991px) {
  .border-responsive {
      border-right: 0px;
      border-left: 0px;
  }

  .col-12:nth-child(n+2) .border-responsive{
    border-top: 0px;
  }

  .g-1{
    --bs-gutter-y: 0rem;
  }

  .strokeletter{
    font-size: 3rem;
    -webkit-text-fill-color: currentColor;
  }

  .sectiontitle{
    font-size: 3rem;
  }

  .plx{
    font-size: 3rem;
  }
  }